.nav-enlace{
    display: inline-block;
    background: salmon;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rosybrown;
}
nav{
    background: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.nav-button{
    background: salmon;
    color: white;
    padding: 10px 0;
    border: 2px solid white;
    display: none;
}

@media (max-width: 600px){
    nav{
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-button{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}